@model IEnumerable<KhumaloCraft.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>
<h6>You can add your own iteams and purchase items</h6>

<head>
    <style>
        body{
            background-color:bisque;
        }
    </style>
</head>

<body>
    <p>
        <a asp-action="Create">Create New Product</a>
        <a  onclick="location.href='@Url.Action("MyWork", "Home")'" class="btn btn-success">Back</a>
    </p>
</body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    <button onclick="location.href='@Url.Action("Index", "Order1")'" type="submit" class="btn btn-danger btn-sm">Order</button>
            </td>
        </tr>
}
    </tbody>
</table>
